PORT=4000
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority
JWT_SECRET=change_this_secret
CLIENT_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@attendx.com
ADMIN_PASSWORD=admin123
